{% extends 'base.html' %}

{% block body %}

<div class="container">
    <form method="GET" action="">
        <div class="col-lg-5" >
            <input name="q" type="text" placeholder="Search..." value="{{ lastquery }}"/><br><br>
        </div>
        <div class="col-lg-5">
            <p>Order by:</p>
            <input type="radio" name="qq" value="id" checked>ID#<br>
            <input type="radio" name="qq" value="title">Title<br>
            <input type="radio" name="qq" value="price">Price<br><br>
        </div>
        <button class="btn btn-green" type="submit">Apply</button>
    </form><br>
</div>

<div class="container">
    {% if item_list %}
    <table class="table table-with-button"> <!-- table-light table-striped table-hover -->
        <thead>
            <tr>
                <th>Product ID#</th>
                <th>Title</th>
                <th>Price</th>

            </tr>
        </thead>
        <tbody>
            {% for item in item_list %}
            <tr>
                <td class="clickable-cell" data-href="{% url 'store:item-detail' item.id %}">{{ item.id }}</td>
                <td class="clickable-cell" data-href="{% url 'store:item-detail' item.id %}">{{ item.title }}</a></td>
                <td class="clickable-cell" data-href="{% url 'store:item-detail' item.id %}">{{ item.price}}</td>
                <td>
                    <button class="btn btn-success add-to-cart-button" value="{{ item.id }}"><i class="material-icons">add_shopping_cart</i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No items found!</p>
    {% endif %}
    <hr>
    <a class="btn btn-primary" href="{% url 'store:item-create' %}">Create new item</a><br><br>
</div>
{% endblock %}
