{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2>{{ item.title}}</h2>
    <table class="table table-with-button">
        <thead>
            <tr>
                <th>Product ID#</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="no-hover">
                <td>{{ item.id }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <button class="btn btn-success add-to-cart-button" value="{{ item.id }}"><i class="material-icons">add_shopping_cart</i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="col-lg-9">
        <a class="btn btn-primary" href="{% url 'store:item-update' item.id %}">Update item</a>
        <a class="btn btn-danger float-right" href="{% url 'store:item-delete' item.id %}">Delete item</a>
    </div>
</div>
{% endblock %}
