<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        {% block head %}
        <title>Store</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <a class="navbar-brand" href="/store">Home</a>
            </nav>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
